export OS_IDENTITY_API_VERSION='{{ SWIFT_LOG_SYNC_IDENTITY_API_VERSION }}'
export OS_USERNAME='{{ SWIFT_LOG_SYNC_USERNAME }}'
export OS_PASSWORD='{{ SWIFT_LOG_SYNC_PASSWORD }}'
export OS_USER_ID='{{ SWIFT_LOG_SYNC_USER_ID }}'
export OS_USER_DOMAIN_ID='{{ SWIFT_LOG_SYNC_USER_DOMAIN_ID }}'
export OS_USER_DOMAIN_NAME='{{ SWIFT_LOG_SYNC_USER_DOMAIN_NAME }}'
export OS_TENANT_ID='{{ SWIFT_LOG_SYNC_TENANT_ID }}'
export OS_TENANT_NAME='{{ SWIFT_LOG_SYNC_TENANT_NAME }}'
export OS_PROJECT_ID='{{ SWIFT_LOG_SYNC_PROJECT_ID }}'
export OS_PROJECT_NAME='{{ SWIFT_LOG_SYNC_PROJECT_NAME }}'
export OS_PROJECT_DOMAIN_ID='{{ SWIFT_LOG_SYNC_PROJECT_DOMAIN_ID }}'
export OS_PROJECT_DOMAIN_NAME='{{ SWIFT_LOG_SYNC_PROJECT_DOMAIN_NAME }}'
export OS_AUTH_URL='{{ SWIFT_LOG_SYNC_AUTH_URL }}'
export OS_AUTH_TOKEN='{{ SWIFT_LOG_SYNC_AUTH_TOKEN }}'
export OS_STORAGE_URL='{{ SWIFT_LOG_SYNC_STORAGE_URL }}'
export OS_REGION_NAME='{{ SWIFT_LOG_SYNC_REGION_NAME }}'
